{{ define "main" }}
<header class='hero-1 r-x r-a-c'>
  <div class='col txt-center content fg-dark'>
    <h1 class='animate-opacity'>{{ .Title }}</h1>
    <div class='subtitle animate-opacity animate-5'>{{ .Description }}</div>
  </div>
</header>
<section class='hero pad-h responsive bg-white resources'>
  <div class='content+2 pad-h responsive pad-v+2'>
    <h2 class='txt-center'>Examination</h2>
    {{ range .RegularPages.ByWeight.Reverse }}
    <details class='timeline mrg-v'>
      <summary>
        <div class='r r-x r-a-c pad'>
          <div class='col'>
            <h3>{{ .Title }}</h3>
            <header>
              <div>Level: {{ .Params.belt }}</div>
              <div>Prerequisite: {{ .Params.time }}</div>
            </header>
          </div>
          <bold class='col txt-right'>
            {{ .Params.tokui }}
          </bold>
        </div>
      </summary>
      <div class='pad'>{{ .Content }}<div>
    </details>
    {{ end }}
  </div>
</section>
{{ end }}
