// Adding a box padding around the whole page
  main {
    overflow: hidden;
    background-attachment: fixed;
    @media(min-width:$content-breakpoint) {
      &:before { top: 0; }
      &:after { bottom: 0; }
      &:before, &:after {
        content: " ";
        position: fixed;
        left: 0; right: 0;
        height: $content-spacing;
        background: $color-light; }
      padding-bottom: $content-spacing;
      border-left: solid $content-spacing $color-light;
      border-right: solid $content-spacing $color-light; }}

.bar {
  padding: $content-spacing/2 $content-spacing;
  width: 100%;
  height: auto; }

nav {
  position: fixed;
  top: 0;
  line-height: 1;
  z-index: 2;
  background-color: $color-light; }

a button {
  &:hover, &:active { &, & a {
    color: $color-white;
    border-color: $color-accent;
    background: $color-accent; }}
  &.fill {
    &:hover, &:active { &, & a {
        border-color: $color-accent;
        background: $color-accent; }}}
  &.white {
    &:hover, &:active { &, & a {
      color: $color-dark;
      background: $color-white; }}}}

button {
  margin: $content-spacing 0 0;
  padding: $content-spacing / 3 $content-spacing;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: $color-dark;
  border: solid 1px $color-dark;
  background: transparent;
  &.fill {
    color: $color-dark;
    border-color: $color-white;
    background: $color-white; }
  &.white {
    color: $color-white;
    border-color: $color-white; }}

.schedule-image {
  object-fit: cover;
  width: 100%;
  height: 40rem;
  @media(min-width:$content-breakpoint) {
    height: 80rem; }}

.square {
  margin: 0 $content-spacing/2-1rem;
  &:hover:before { background: $color-accent; }
    &:before {
      color: $color-gray;
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1em;
      border: solid 1px $color-accent; }}

.square:hover {
    color: $color-white; }

#to-top {
  position: fixed;
  bottom: $content-spacing*0.5;
  right: $content-spacing*0.5;
  @media(min-width:$content-breakpoint) {
    bottom: $content-spacing*1.25;
    right: $content-spacing*1.25; }
  z-index: 10;
  button {
    height: $content-spacing*1.25;
    width: $content-spacing*1.25;
    padding: 0;
    outline: none;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    color: white;
    background-color: $color-dark;
    border-color: $color-dark;
    &:hover {
      background-color: $color-accent;
      border-color: $color-accent; }}}

.avatar {
  margin-top: $font-size;
  margin-bottom: $font-size;
  hr { width: 12rem;
    @media(min-width:$content-breakpoint) {
      margin-left: 0;
      margin-right: 0; }}
  img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%; }
  @media(max-width:$content-breakpoint+0.0001rem) {
    img { margin: auto; }
    margin: auto;
    text-align: center; }}

#hamburger {
  outline: 0;
  text-align: right;
  font-size: 2rem;
  line-height: 1;
  padding: 0;
  border: none;
  margin: 0;
  &:hover, &:active {
    color: $color-accent;
    background-color: transparent;
  }
  &+#menu:active,
  &:focus+#menu {
    visibility: visible;
  }
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: $color-black;
}

.thumbnail { overflow: hidden; }
.infoletters {
  box-shadow: 0 1.8rem 4rem -1.2rem #{$color-gray}55;
  transition: box-shadow 0.2s;
  &:hover, &:active {
    img { transform: scale(1.2); }
    box-shadow: 0 1.8rem 4rem -1.2rem #{$color-accent}55;
  }
  img {
    object-fit: cover;
    height: 40rem;
    transition: transform 0.2s;
  }
  h2 {
    font-size: $font-size * 1.1;
    margin-top: 1em;
  }
  header {
    line-height: 1.5;
    font-weight: 500;
  }
  header>div:last-of-type {
    font-weight: 400;
    font-size: 1.2rem;
  }
  header>div {
    font-size: 1.4rem;
  }
  header>div:first-of-type {
    font-weight: 400;
    line-height: 0.8;
    font-size: 4.8rem;
    float: left;
    padding-right: $font-size;
  }
}

.infogallery {
  max-height: 80vh;
  width: 100%;
  margin: $font-size auto;
  object-fit: contain;
  object-position: 50% 50%;
}

// Timeline

details[open] > summary, summary:hover, summary:active {
  background: $color-accent;
  h2, h3, h4, h5, h6, p, header, div, dl, dt, dd, bold {
    color: $color-white;
  }
}

.timeline {
  box-shadow: 0 1.8rem 4rem -1.2rem #{$color-gray}55;
  transition: box-shadow 0.2s;
  bold {
    font-weight: bold;
    color: $color-accent;
  }
}
.resources {
  h2 {
    font-size:      3rem;
    font-weight:    300;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }}
