body {
  color: $color-gray;
  font:  300 #{$font-size}/1.75 $font-body; }

::selection {
  color: $color-white;
  background: $color-accent; }

p, .p { margin: $font-size 0; }

h1,h2,h3,h4,h5,h6 {
  margin:      0;
  color:       $color-dark;
  line-height: 1.2; }

#infoletter, #gallery, #upcoming {
  h2,h3,h4,h5,h6 {
    margin-top: 2em;
    font-weight: 500; }}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  @media(min-width:$content-breakpoint) {
    font-size: 10rem; }}

b      { font-weight: 500; }
strong { font-weight: 400; }

hr {
  border-color: $color-gray;
  opacity: 0.25;
  margin: $font-size auto; }

p a {
  color: $color-accent;
  &:hover, &:active { color: $color-black; }}

#infoletter ul {
  list-style: none;
  padding: 0;
}

ul {
  &.nolist {
    list-style: none;
    padding: 0;
  }
  &.tight { margin: 0; }
  &.inline { padding: 0 }
  &.inline li {
    display: inline-block;
    &:last-of-type { margin-right: 0; }
    margin-right: $content-spacing / 2; }
  &.inline.tight li {
    &:last-of-type { margin-right: 0; }
    margin-right: $content-spacing / 4; }}

dl, dt, dd { margin: 0; }

blockquote {
  margin: 0;
  padding: $content-spacing;
  border-left: 1rem solid $color-gray;
  background: $color-light;
  color: $color-black;
  &:before {
    content: '\201C';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: $content-spacing;
    font: 300 10rem/1 $font-body;
    color: $color-accent;
    text-align: center;
  }
}

details > summary {
  cursor: pointer;
}

details > summary > * {
  display: inline;
}

// -----------------------------------------------------------------------------

.suptitle {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size:      1.2rem; }

.subtitle {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  @media(min-width:$content-breakpoint) {
    font-size: 2.5rem; }}

.txt-bold   { font-weight:    500; }
.txt-small  { font-size:      0.9em; }
.txt-big    { font-size:      3rem; }
.txt-left   { text-align:     left; }
.txt-center { text-align:     center; }
.txt-right  { text-align:     right; }
.txt-just   { text-align:     justify; }
.txt-upper  { text-transform: uppercase; }
.txt-space  { letter-spacing: .25em; }

.logo {
  line-height: 1;
  color: $color-black;
  font-size: 2rem; }

.links {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

// -----------------------------------------------------------------------------

nav {
  a:hover, a:active { color: $color-accent; }}

.home, footer {
  h2 {
    font-size:      3rem;
    font-weight:    300;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  h3 {
    margin-bottom: $content-spacing;
    font-weight:   500; }}

#description {
  & > div > div { margin-left: 0; margin-right: auto; }
  p {
    color: $color-dark; 
    font-size: 2rem;
    @media(min-width:$content-breakpoint) {
      font-size: 3rem; }}
  h2 {
    color: $color-gray;
    font-size: $font-size;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 500; }}

article {
  &>p:first-of-type:first-letter {
    line-height: 7rem;
    font-weight: 100;
    font-size: 4rem;
    padding: 0 2rem;
    float: left;
    margin: 0.7rem $font-size 0 0;
    color: $color-white;
    background-color: $color-accent;
  }
}
