// Colors

$color-white: white;
$color-light: #f1f1f1;
$color-gray: #6e6e6e;
$color-dark: #303030;
$color-black: #141414;
$color-accent: #bd1823;
.fg-white { color: $color-white}
.fg-light { color: $color-light}
.fg-gray {  color: $color-gray}
.fg-dark {  color: $color-dark}
.fg-black { color: $color-black}
.fg-accent {  color: $color-accent}
.bg-white { background-color: $color-white}
.bg-light { background-color: $color-light}
.bg-gray {  background-color: $color-gray}
.bg-dark {  background-color: $color-dark}
.bg-black { background-color: $color-black}
.bg-accent {  background-color: $color-accent}

// Globals

$content-width: 70rem;
$content-breakpoint: 50rem;
$content-spacing: 3.5rem;

$font-size: 1.6rem;
$font-body: "Roboto", sans-serif;

// Helpers

@mixin multi($attr, $v, $xs...) {
  // Setting multi properties attribute
  @each $x in $xs {
    #{$attr}-#{$x}: $v;}}

// Modules

@import "normalize";
@import "animations";
@import "position";
@import "typography";
@import "elements";
