<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . }}
        <main id='main' name='main' class='{{ if .IsHome }}home {{ end }}lazy'
              {{- with (.Resources.GetMatch (printf "%s*" .Params.banner)) | default (.Site.Home.Resources.GetMatch (printf "%s*" .Site.Home.Params.banner)) -}}
              data-bg='url("{{ (.Fill "1920x1080").RelPermalink }}")'{{ end }}>
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </main>
        <script>
          var lazyLoadInstance = new LazyLoad({ elements_selector: ".lazy" });
          lazyLoadInstance.update();
        </script>
    </body>
</html>
