{{ define "main" }}
<section class='hero-1 r-x r-a-b'>
  <header class='col pad content+1'>
    <h1 class='fg-white animate-right'>{{ .Title }}</h1>
    <p class='subtitle fg-white animate-right animate-5'>{{ .Description }}</p>
  </header>
</section>
<section class='pad-v bg-white'>
  <div class='content+1 pad fg-dark r r-s-b'>
    {{- with .Params.author }}
    <div class='avatar col col-3/12 animate-opacity animate-10'>
      <img src='{{ . }}.jpg'>
      <p class='txt-small'><i>By</i> {{ . | humanize | title }}</p>
      <hr>
      <p class='links fg-gray'>{{ $.Lastmod.Format "January 2006" }}</p>
    </div>
    {{- end }}
    <div class='col'>
      <article class='animate-opacity animate-15'>{{ .Content }}</article>
    </div>
  </div>
</section>
{{ end }}
