{{- if ne .Kind "404" }}
<footer>
  <h2 class='hero r-x r-a-c r-s-a fg-{{ .Params.contrast | default "white" }} pad-v+2'>Where to find us</h2>
  <section class='hero-2 bg-light'>
    <iframe title="Google Maps dojo address"
      src='{{ .Site.Params.maps }}'
      frameborder='0'
      style='border:0;height:100%;width:100%;filter:grayscale(0.5)'
      allowfullscreen=''></iframe>
  </section>
  <section class='hero bg-accent pad'>
    <div class='pad-v r-x r-a-c r-s-a txt-center'>
      <div class='col fg-white'>
        <p class='txt-big'>Ready to start this journey with us?</p>
        <a href='{{ .Site.Params.register }}'>
          <button class='white'>Sign Up</button>
        </a>
      </div>
    </div>
  </section>
  <section class='hero bg-light pad'>
    <div class='txt-small content+2 pad-h pad-v r r-s-b'>
      <dl class='col'>
        <dt>{{ partial "logo.html" . }}</dt>
        <dd class='txt-small pad-v'>{{ .Site.Params.description }}</dd>
      </dl>
      <dl class='col'>
        <dt class='txt-bold links'>Find us at</dt>
        <dd class='txt-small pad-v'>{{ .Site.Params.address }}</dd>
      </dl>
      <dl id='contact' name='contact' class='col'>
        <dt class='txt-bold links'>Contact</dt>
        <dd class='txt-small pad-v'>
          <div>{{ .Site.Params.phone }}</div>
          <div>{{ .Site.Params.email }}</div>
        </dd>
      </dl>
      <dl class='col'>
        <dt class='txt-bold links'>Connect</dt>
        <dd class='txt-small pad-v'>
          <ul class='tight inline'>
            {{- range .Site.Params.social }}
            <li>
              <a class='square' href='{{ .address }}' aria-label='{{ .name }}'>
                <i class='fab fa-{{ .name }}{{ if eq .name "facebook" }}-f{{ end }}'></i>
              </a>
            </li>
            {{- end }}
            <li>
              <a class='square' href='mailto:{{ .Site.Params.email }}' aria-label='email'>
                <i class='fas fa-envelope'></i>
              </a>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </section>
  <section class='bar r-x r-a-c txt-center bg-white'>
    <div class='col txt-small'>{{ replace .Site.Copyright "{year}" now.Year }}</div>
  </section>
</footer>
{{- end }}
