{{- if ne .Kind "404" }}
<nav class='bar'>
  <div class='r-x r-a-c r-s-b'>
    {{ partial "logo.html" . }}
    <ul class='hide-1 inline fg-dark links'>
      <li>
        <a href='{{ .Site.BaseURL }}'>
          {{ if .Page.IsHome }}
          <strong>Home</strong>
          {{ else }}
          Home
          {{ end }}
        </a>
      </li>
      <li>
        <a href='{{ .Site.BaseURL }}about'>
          {{ if eq .Type "about" }}
          <strong>About Us</strong>
          {{ else }}
          About Us
          {{ end }}
        </a>
      </li>
      <li>
        <a href='{{ .Site.BaseURL }}infoletters'>
          {{ if eq .Type "infoletters" }}
          <strong>Infoletters</strong>
          {{ else }}
          Infoletters
          {{ end }}
        </a>
      </li>
      <li>
        <a href='{{ .Site.BaseURL }}resources'>
          {{ if eq .Type "Resources" }}
          <strong>Resources</strong>
          {{ else }}
          Resources
          {{ end }}
        </a>
      </li>
      <li>
        <a>
          {{ if eq .Type "Gallery" }}
          <strong>Gallery</strong>
          {{ else }}
          Gallery
          {{ end }}
        </a>
      </li>
      <li><a href='{{ .Permalink }}#contact' onclick='smoothScroll("contact")'>Contact</a></li>
    </ul>
    <button id='hamburger' class='hide+1'>☰</button>
    <div id='menu' class='animate-opacity hero hide r-x r-a-c txt-center'>
        <ul class='fg-white links col'>
          <li class='pad-v'>
            <a href='{{ .Site.BaseURL }}'>
              {{ if .Page.IsHome }}
              <strong>Home</strong>
              {{ else }}
              Home
              {{ end }}
            </a>
          </li>
          <li class='pad-v'>
            <a href='{{ .Site.BaseURL }}about'>
              {{ if eq .Type "about" }}
              <strong>About Us</strong>
              {{ else }}
              About Us
              {{ end }}
            </a>
          </li>
          <li class='pad-v'>
            <a href='{{ .Site.BaseURL }}infoletters'>
              {{ if eq .Type "infoletters" }}
              <strong>Infoletters</strong>
              {{ else }}
              Infoletters
              {{ end }}
            </a>
          </li>
        <li class='pad-v'>
          <a href='{{ .Site.BaseURL }}resources'>
            {{ if eq .Type "Resources" }}
            <strong>Resources</strong>
            {{ else }}
            Resources
            {{ end }}
          </a>
        </li>
          <li class='pad-v'>
            <a>
              {{ if eq .Type "Gallery" }}
              <strong>Gallery</strong>
              {{ else }}
              Gallery
              {{ end }}
            </a>
          </li>
          <li class='pad-v'><a href='{{ .Permalink }}#contact' onclick='smoothScroll("contact")'>Contact</a></li>
        </ul>
    </div>
    <a id='to-top' href="{{ .Permalink }}#main" onclick='smoothScroll("main")'>
      <button class='txt-center'>↑</button>
    </a>
  </div>
</nav>
{{- end }}
