<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Params.Title | default .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Param "description" }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Param "author" }}<meta name="author" content="{{ . }}">{{ end }}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,700|Open+Sans:400,700|Nunito:300,300i,400,700,700i|Yeseva+One|Lora|Anonymous+Pro" rel="stylesheet">

    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">
    <script defer src="https://kit.fontawesome.com/3be77298c8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.3.0/dist/lazyload.min.js"></script>
    <script defer type='text/javascript' src='{{ "js/smoothscroll.js" | relURL }}'></script>
</head>
