<div class='col'>
  <div class='pad content'>
    <div class='pad-h pad-v+2'>
      <div class='suptitle'>{{ .page.Params.location }}</div>
      <h3 class='txt-big'>{{ .page.Title }}</h3>
      {{- .page.Content }}
      {{- range .page.Params.schedule }}
      <strong class='r-x txt-small'>
        <div class='col'>{{ index . 0 }}</div>
        <div class='col fg-dark'>{{ index . 1 }}</div>
      </strong>
      {{- end }}
    </div>
  </div>
</div>

