{{ define "main" }}
<div class='hero+1 r-x r-a-c r-s-a txt-center pad-v pad-h'>
  <div class='col'></div>
  <div class='col fg-white' style='margin:0'>
    <h1 class='animate-opacity fg-white'>404</h1>
    <hr style='border-color:white;width:18rem' class='animate-right animate-5'>
    <p class='subtitle animate-right animate-10'>Page Not Found</p>
    <a id='err' class='fg-white col animate-right animate-15' href='{{ .Site.BaseURL }}'>
      <button class='white'>Return Home</button>
    </a>
  </div>
  <div class='col'></div>
</div>
{{ end }}
