{{- define "main" }}
<section class='hero+1 r-x r-a-c txt-center'>
  <header class='col pad'>
    <h1 class='fg-white animate-opacity'>{{ .Title }}</h1>
    <p class='fg-white subtitle animate-opacity animate-5'>{{ .Params.description }}</p>
    <ul class='inline'>
      <li>
        <a href='#description' onclick='smoothScroll("description");'>
          <button class='white animate-right'>Discover</button>
        </a>
      </li>
      <li>
        <a href='{{ .Site.Params.register }}'>
          <button class='fill animate-right animate-10'>Register</button>
        </a>
      </li>
    </ul>
  </header>
</section>
<section id='description' name='description' class='pad bg-white'>
  <div class='content+2 pad-h pad-v+2'>
    <div class='content+1'>
      <div>{{ .Content }}</div>
      <ul class='inline'>
        <li>
          <a href='{{ .Site.BaseURL }}about'>
            <button class='links'>Mission statement</button>
          </a>
        </li>
        <li>
          {{ range first 1 (.Site.GetPage "section" "infoletters").Pages }}
          <a href='{{ .Permalink }}'>
            <button class='links'>
              {{ if isset .Params "issue" }}
              Issue #{{ .Params.issue }}:
              {{ else if isset .Params "letter" }}
              {{ .Params.letter }}:
              {{ end }}
              {{ .Title }}
            </button>
          </a>
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</section>
<section id='calendar'>
  <h2 class='hero r-x r-a-c r-s-a fg-white pad-v+2'>Calendar</h2>
  <div class='bg-white pad'>
    <div class='r r-s-a content+2 pad-h pad-v+2 txt-center'>
      {{- range .Site.Data.upcoming }}
      <div class='col'>
        <h3 class='links fg-dark'>{{ .date | dateFormat "Jan 2 2006" }}</h3>
        <p>
          {{ if isset . "link" }}
          <a href='{{ .link }}'>{{ .title }}</a>
          {{ else }}
          {{ .title }}
          {{ end }}
        </p>
        <hr style='width:6rem'>
        {{ with .description }}
        <p class=txt-small>{{ . | markdownify }}</p>
        {{ end }}
      </div>
      {{- end }}
    </div>
  </div>
</section>
<section id='schedule'>
  {{- with .Site.GetPage "section" "schedule" }}
  {{ $s := . }}
  <div class='bg-black'>
    {{- range $i, $p := sort (.Resources.ByType "page") "File.BaseFileName" }}
    <div class='hide-1 hero r r-a-c bg-light'>
      {{- if modBool $i 2 }}
      {{- partial "schedule-image.html" (dict "page" $p "section" $s) }}
      {{- partial "schedule-content.html" (dict "page" $p "section" $s) }}
      {{- else }}
      {{- partial "schedule-content.html" (dict "page" $p "section" $s) }}
      {{- partial "schedule-image.html" (dict "page" $p "section" $s) }}
      {{- end }}
    </div>
    <div class='hide+1 hero r r-a-c bg-light'>
      {{- partial "schedule-image.html" (dict "page" $p "section" $s) }}
      {{- partial "schedule-content.html" (dict "page" $p "section" $s) }}
    </div>
    {{- end }}
  </div>
  {{- end }}
</section>
{{- end }}
