{{- define "main" }}
<header class='hero-1 r-x r-a-c'>
  <div class='col txt-center content fg-dark'>
    <h1 class='animate-opacity'>{{ .Title }}</h1>
    <div class='subtitle animate-opacity animate-5'>{{ .Description }}</div>
  </div>
</header>
<section class='hero pad-h responsive bg-white'>
  <div class='content+2 pad-h responsive'>
    {{ range .RegularPages }}
    <a href='{{ .Permalink }}'>
      <div class='mrg-v+1 infoletters bg-light r'>
        <div class='thumbnail col col-8/12'>
          <img src='{{ (.Resources.GetMatch "featured.*").RelPermalink }}'>
        </div>
        <div class='col pad'>
          <header class='fg-dark'>
            <div>{{ .Params.issue }}</div>
            {{- if isset .Params "issue" }}
            <div>Issue</div>
            {{- else if isset .Params "letter" }}
            <div>{{ .Params.letter }} Letter</div>
            {{- end }}
            <div>{{ .Date.Format "Jan 2006" }}</div>
          </header>
          <hr class='mrg-v'>
          <div>
            <h2>{{ .Title }}</h2>
            <p class='fg-dark'>{{ .Summary }}</p>
          </div>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</section>
{{- end }}
