{{- define "main" }}
<div id='infoletter'>
  <div class='hero{{ if .Params.banner }}-1{{ end }} pad-v'></div>
  <section class='hero pad bg-white'>
    <div class='content'>
      <header class='txt-center mrg-v'>
        <div class='suptitle'>
          {{- if isset .Params "issue" }}
          <span>Issue #{{ .Params.issue }}</span>
          {{- else if isset .Params "letter" }}
          <span>{{ .Params.letter }} Letter</span>
          {{- end }}
          <span>|</span>
          <span>{{ .Date | time.Format ":date_long" }}</span>
        </div>
        <h1 class='p' style='font-size:5rem'>{{ .Title }}</h1>
        <p class='txt-small'>
          {{ with .Resources.GetMatch "infoletter*.pdf" }}
            <a href='{{ .RelPermalink }}'>Original Issue</a>
          {{ end }}
          {{- with .Params.author }}
          <i>By</i> {{ . | humanize | title }}
          {{- end }}
        </p>
      </header>
      <article>{{ .Content }}</article>
      <section class='pad-v'>
        {{ range .Resources.Match "images/*" }}
        <a href='{{ .RelPermalink }}'>
          <img class='infogallery' src='{{ .RelPermalink }}'>
        </a>
        {{ end }}
        {{ with .Resources.GetMatch "featured.*" }}
        <a href='{{ .RelPermalink }}'>
          <img class='infogallery' src='{{ .RelPermalink }}'>
        </a>
        {{ end }}
        <ul class='inline txt-center mrg-v+1'>
          <li>
            {{ with .PrevInSection }}
            <a href='{{ .Permalink }}'>
              <button>&larr;</button>
            </a>
            {{ else }}
            <button>&larr;</button>
            {{ end }}
          </li>
          <li>
            <a href='{{ .Section }}'>
              <button>Infoletters</button>
            </a>
          </li>
          <li>
            {{ with .NextInSection }}
            <a href='{{ .Permalink }}'>
              <button>&rarr;</button>
            </a>
            {{ else }}
            <button>&rarr;</button>
            {{ end }}
          </li>
        </ul>
      </section>
    </div>
  </section>
</div>
{{- end }}
